* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Almarai", sans-serif;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

/* Start */




/* Main Theme */
.main-theme {
    background-image: url('https://web-images-qomra.s3.eu-west-1.amazonaws.com/childread.png'); /* Replace with your image URL */
    background-size: cover;
    height: 525px;
    background-position: center;
    color: white; /* Text color */
    text-align: center; /* Center align text */
    background-color: #1E86FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main-theme .main-theme-text {
        color: #FFF;
        font-family: Almarai;
        font-size: 32px !important;
        width: 650px;
        font-style: normal;
        font-weight: 800;
        line-height: 72px;
        margin-bottom: 20px; /* Space below the heading */
        margin-top: 80px;
        margin-bottom: 40px;
    }

.search-button {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 136px;
}

    .search-button input {
        border-radius: 0px 6px 6px 0px;
        background: #FFF;
        width: 594px;
        border: none;
        display: flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: center;
    }

    .search-button button {
        display: flex;
        width: 56px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        border: none;
        cursor: pointer;
        border-radius: 6px 0px 0px 6px;
        background: #1E86FF;
    }





.input_field {
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

    .input_field::placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field::-webkit-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field::-moz-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field:-ms-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field::-ms-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }




/*  */



.search-button-nav {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #A4B3CC;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .search-button-nav input {
        border-radius: 0px 6px 6px 0px;
        background: #FFF;
        width: 594px;
        border: none;
        display: flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: center;
    }

    .search-button-nav button {
        display: flex;
        width: 56px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        border: none;
        cursor: pointer;
        border-radius: 6px 0px 0px 6px;
        background: #1E86FF;
    }





.input_field-nav {
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

    .input_field-nav::placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field-nav::-webkit-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field-nav::-moz-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field-nav:-ms-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }

    .input_field-nav::-ms-input-placeholder {
        color: #A4B3CC !important;
        text-align: right !important;
        font-family: Almarai !important;
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        padding: 1px;
    }


/*  */




.NicePlaces {
    display: flex;
}

    .NicePlaces button {
        cursor: pointer;
        font-family: Almarai;
        display: flex;
        padding: 12px 24px;
        margin-left: 16px;
        justify-content: center;
        border: none;
        align-items: center;
        border-radius: 4px;
        background: #FFF;
    }





/* Navbar Padding */
.navbar-padding {
    height: 90px;
}

/* Main Navbar */
.navbar {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    padding: 16px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C7D2E5;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
}

/* Logo Section */
.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    margin-left: 12px;
}

.logo-icon {
    width: 56px;
}

.logo-text {
    color: #3B4351;
    font-family: Almarai;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

/* Add Image Section */
.navbar-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    position: relative;
    width: 48px;
    height: 48px;
    margin-left: 32px;
}

.profile-icon {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.add-button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #1E86FF;
    color: #FFF;
    font-family: Almarai;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}


.profile-image:hover .profilePop {
    display: block;
}

.profile-image .profilePop {
    display: none;
    position: absolute;
    top: 44px;
    left: 0px;
    width: 236px;
    height: 126px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(59, 67, 81, 0.10);
}


    .profile-image .profilePop div {
        cursor: pointer;
        padding: 24px;
    }

        .profile-image .profilePop div:first-of-type {
            border-bottom: 1px solid rgba(59, 67, 81, 0.10);
            ;
        }



.sign_up {
    cursor: pointer;
    color: #1E86FF;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 32px;
}

/* ================================== */

.person_images {
    width: 100%;
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .person_images aside {
        width: calc(31% - 2px);
        display: flex;
        flex-direction: column;
        display: block;
        margin: .5%;
        clear: both;
    }

        .person_images aside div img {
            margin: 1%;
            max-width: 100%;
            width: auto;
        }


.container-image-overlay {
    position: relative;
    display: inline-block;
}


.overlay {
    margin: 1%;
    position: absolute;
    top: 2;
    left: -2;
    width: 100%;
    height: calc(99% - 8px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
    /* z-index: 1; */
    opacity: 0;
}

div:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay .overlay-profile {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
}

.overlay .overlay-profile-img-name {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .overlay .overlay-profile-img-name .name {
        cursor: pointer;
        color: #FFF;
        font-family: Almarai;
        font-size: 16px;
        font-style: normal;
        white-space: nowrap;
        font-weight: 700;
        line-height: 24px;
        margin-right: 16px;
        width: 250px;
        overflow: hidden; /* Hide any overflowed text */
        /* text-overflow: ellipsis; */
    }

    .overlay .overlay-profile-img-name img {
        cursor: pointer;
        width: auto;
        height: auto;
        max-width: 40px;
        max-height: 40px;
    }




.overlay .overlay-profile-img-download {
    position: absolute;
    left: 0px;
    bottom: 16px;
    width: 100%;
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

    .overlay .overlay-profile-img-download a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #FFF;
        cursor: pointer;
        font-family: Almarai;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

.dowmload-Image-button {
    cursor: pointer;
    max-width: 400px !important;
    display: block;
    width: calc(100% - 20px) !important;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background: #1E86FF;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.ImageLoader {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer */



.footer {
    background-color: #0A2840; /* Add a background if needed */
    width: 100%;
    padding: 24px 48px;
    background: #26374B;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-img {
    width: 56px;
    height: 56px;
    margin-left: 12px;
}

.footer-site-title {
    color: #FFF;
    font-family: Almarai;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-left: 80px;
}

.footer-link {
    color: #FFF;
    text-align: right;
    font-family: Almarai;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-left: 40px;
}

.footer-icons {
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;
}

.footer-social-icon {
    width: 32px;
    height: 32px;
}

.footer-divider {
    opacity: 0.4002;
    background: #81A0C3;
    height: 1px;
    align-self: stretch;
}

.footer-rights {
    margin-top: 16px;
    color: #C4D2E2;
    text-align: center;
    font-family: Almarai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
