* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Almarai", sans-serif;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

/* ==================================== */

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 64px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C7D2E5;
    background-color: #FFF;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 24px;
}

.profile-header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}

.profile-name-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-name {
    color: #3B4351;
    font-family: Almarai;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-left: 16px;
}

.profile-edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 40px;
    border-radius: 4px;
    background-color: #1E86FF;
    color: #FFF;
    cursor: pointer;
}

.edit-icon {
    width: 18px;
    height: 18px;
}

.edit-text {
    font-family: Almarai;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 4px;
}

.profile-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.location-icon {
    width: 24px;
    height: 24px;
}

.location-text {
    color: #3B4351;
    font-family: Almarai;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 16px;
}

.divider {
    width: 1px;
    height: 16px;
    border-radius: 0.5px;
    background-color: #C7D1E2;
    margin: 0 16px;
}

.profile-social-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    cursor: pointer;
}

    .profile-social-icon:last-child {
        margin-left: 0;
    }

.profile-description {
    align-self: stretch;
    color: #3B4351;
    text-align: right;
    font-family: Almarai;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ================================== */

.person_images {
    padding: 1.6%;
}

    .person_images img {
        width: calc(30% - 2px);
        margin: 1.6%;
    }
