@using Qumrah.Web.Models.Multimedia
@model UploadMultimedia
<div>
    <form asp-action="UploadImage" enctype="multipart/form-data">
        <input asp-for="Name" />
        <input type="file" asp-for="File" />
        <button type="submit">Upload</button>
    </form>
</div>