<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body dir="rtl">
    <aside class="part1">

        <div class="midLine">
            @RenderBody()
        </div>
    </aside>
    <aside class="part2">
        <img src="/images/moved_Images.png">
    </aside>
    @RenderSection("Scripts",false);
</body>
</html>
