@using aspnetcore.ntier.BLL.Services.IServices
@using aspnetcore.ntier.DTO.DTOs
@inject IUserService _userService;
@{
    ApplicationUserDto model = new ApplicationUserDto();
    if (User.Identity.IsAuthenticated)
    {
        model = await _userService.GetAsync(User.Identity.Name);
    }
    var imgProfilePath = !string.IsNullOrEmpty(model.ImagePath) ? model.ImagePath : "https://web-images-qomra.s3.eu-west-1.amazonaws.com/faceSmall.png";
    ViewBag.ImageProfilePath = imgProfilePath;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - قمرة</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/Qumrah.Web.styles.css" asp-append-version="true" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header-footercss.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    @await RenderSectionAsync("Header", required: false)
    <style>
        .remove-under-line {
            text-decoration: none;
        }

        .text-black {
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <!-- Main Navbar -->
        <div class="navbar-padding"></div>
        <div class="navbar">
            <div class="navbar-logo">
                <div class="logo-image">

                    <a asp-action="Index" asp-controller="Home">
                        <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/logo.png" class="logo-icon">
                    </a>
                </div>
                <div class="logo-text">قُمرة</div>
            </div>

            <div class="navbar-add">
                <div class="profile-image">
                    <img src="@imgProfilePath" class="profile-icon">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="profilePop">
                            <div>
                                <a class="remove-under-line text-black" asp-controller="UserProfile">ملفي الشخصي</a>
                            </div>
                            <div>
                                <a class="remove-under-line text-black" asp-action="Logout" asp-controller="Account">تسجيل الخروج</a>
                            </div>
                        </div>

                    }

                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="sign_up remove-under-line" asp-action="login" asp-controller="Account">  تسجيل الدخول  </a>
                }
                <a asp-action="UploadImage" asp-controller="UserProfile" class="add-button remove-under-line">إضافة صورة</a>
            </div>

        </div>
        @*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Qumrah.Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        </div>
        </nav> *@
    </header>
    @RenderBody()

    <div class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/white-logo.png" class="footer-logo-img">
                <span class="footer-site-title">قُمرة</span>
                <span class="footer-link">عن الموقع</span>
                <span class="footer-link">سياسة الإستخدام</span>
            </div>

            <div class="footer-icons">
                <img class="footer-social-icon" alt="Instagram" src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/white_instagram.png">
                <img class="footer-social-icon" alt="Facebook" src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/white_facebook.png">
                <img class="footer-social-icon" alt="Twitter" src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/white_twitter.png">
            </div>
        </div>

        <div class="footer-divider"></div>
        <div class="footer-rights">جميع الحقوق محفوظة © قُمرة 2024</div>
    </div>
    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Qumrah.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
