@using Qumrah.Web.Models.Account
@model LoginVM
@{
    Layout = "_AccountLayout";
    ViewBag.Title = "تسجيل الدخول";
}
@if (ViewBag.Error is not null)
{
    <!-- Errors Go Here -->
    <div onclick="closeButton1()" class="ErrorCase width" id="ErrorCase1">
        <div> @ViewBag.Error </div>
        <div style="font-weight: bold;">✕</div>
    </div>
    ViewBag.Error = null;
}
@section Header {

    <style>
        button.save-btn {
            padding: 12px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            background: #1E86FF;
            text-align: center;
            font-family: Almarai;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }
    </style>
}


<div class="Logo">
    <img src="/images/logo.png" alt="Logo">
</div>

<div class="welcome">
    أهلا بعودتك في موقع قُمرة
</div>
<form style="display:contents" asp-action="Login">

    <section class="width insert-section">
        <label asp-for=Email></label>
        <input class="width input input_field" asp-for="Email">
        <span asp-validation-for="Email" class="red"></span>
    </section>

    <section class="width insert-section">
        <label asp-for=Password></label>
        <div style="position: relative;">
            <input class="width input input_field" asp-for="Password" type="password">
            <span asp-validation-for="Password" class="red"></span>
            <div id="view">
                <img id="show" onclick="show()" src="/images/show_password.png" draggable="false">
                <img id="hide" onclick="hide()" src="/images/hide_password.png" draggable="false">
            </div>
        </div>
        <div class="colorConatainer">
            <a href="#" style="text-decoration:none" class="blue">هل نسيت كلمة المرور؟</a>
        </div>
    </section>
    <button class="save-btn width" type="submit">تسجيل الدخول</button>

    <div class="account">
        <span> مستخدم جديد؟ </span>
        <span>&nbsp;</span>
        <a asp-action="Signup" class="blue underline-non"> إنشاء حساب </a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="/js/main.js"></script>
    }
}
@* <form asp-action="Login">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="Email" class="form-control" />
        <label class="form-label" asp-for="Email"></label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="Password" class="form-control" />
        <label class="form-label" asp-for="Password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" asp-for="isPersistent" />
                <label class="form-check-label" asp-for="isPersistent"> </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form> *@