@using Qumrah.Web.Models.UserProfile
@model EditProfileVM
@{
    ViewBag.Title = "الصفحة الشخصية";
}

<div>
    <form asp-action="EditProfile">
        <input asp-for="FirstName" />
        <input asp-for="LastName" />
        <input asp-for="FBLink" />
        <input asp-for="ImageProfile" />
        <input asp-for="TwitterLink" />
        <input asp-for="InstagramLink" />
        <input asp-for="Description" />
        <button type="submit">حفظ</button>
    </form>

</div>