@using Qumrah.Web.Models.Multimedia
@model UploadMultimediaVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="~/css/Upload_Image.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload_Image</title>
</head>

<body>

    <!-- Main Navbar -->
    <div class="navbar">
        <div class="navbar-logo">
            <div class="logo-image">
                <img src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/logo.png" class="logo-icon">
            </div>
            <div class="logo-text">قُمرة</div>
        </div>

    </div>


    <!-- Start Upload part-->

    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">

        <div class="container">


            @if (ViewBag.Error is not null)
            {
                <!-- Errors Go Here -->

                <div class="alert" onclick="disableErrorCase()">
                    <div>@ViewBag.Error</div>
                    <div onclick="" style="font-weight: bold;">✕</div>
                </div>
                ViewBag.Error = null;
            }



            <section class="cntered-sides">
                <aside class="rightside">


                    <div>
                        <label asp-for="Title">
                            موقع الصورة (إختياري)
                        </label>
                        <input asp-for="Title" placeholder="أدخل عنوان الصورة">
                        <span asp-validation-for="Title"></span>
                    </div>
                    @*          <div>
                    <label for="imageData">
                    تاريخ التقاط الصورة (إختياري)
                    </label>
                    <input type="text" style="cursor: pointer;" id="arabicDatePicker" name="imageData" placeholder="أدخل تاريخ التقاط الصورة">
                    </div> *@

                    <div>
                        <label asp-for="Tags">
                            الكلمات المفتاحية للصورة
                        </label>
                        <textarea asp-for="Tags" class="imagekey"
                                  placeholder="أدخل الكلمات المفتاحية للصورة"></textarea>
                        <span asp-validation-for="Tags"></span>

                    </div>


                    <div>
                        <p>
                            * لسهولة الوصول إلى صورتك يرجى إختيار أكبر عدد ممكن من الكلمات المفتاحية المناسبة للصورة مع
                            استخدام فاصلة بعد كل كلمة.
                        </p>
                    </div>


                    <div class="addimgebutton">
                        <button type="submit">
                            إضافة صورة
                        </button>
                    </div>

                </aside>



                <aside class="leftside" id="userImage" ondrop="dropImage(event)" ondragover="allowDrop(event)">
                    <div style="position: relative;">
                        <img id="preview" src="https://web-images-qomra.s3.eu-west-1.amazonaws.com/upload_icon_blue.png">
                        <span id="removeImage" class="removeImage" onclick="removeImage()"> ✕ </span>
                    </div>
                    <input style="display:none" asp-for="File" accept="image/*" onchange="previewImage(event)" type="file">
                    <p> قم بإسقاط ما تريد تحميله هنا </p>
                    <p> أو <span onclick="changeImage()" style="color: #1E86FF; cursor: pointer;">تصفح محتويات</span> جهازك لترفع الملف </p>
                </aside>


            </section>

        </div>

    </form>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/Upload_Image.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.setDefaults({ ignore: null });
    </script>
</body>
</html>